
.rc-call-note-form
  position absolute
  bottom 0
  left 0
  width 100%
  background #fff
  border-top 1px solid #eee
  opacity .90
.rc-show-note-form
  position absolute
  bottom 2px
  left 2px
.rc-hide-note-form
  position absolute
  bottom 10px
  left 5px
.rc-toolt-tip-card
  z-index 12000 !important
.rc-add-contact-form
  position absolute
  left 0
  width 100%
  background #fff
  height 100%
  top 35px
  bottom 0
.rc-add-call-log-form
.rc-add-contact-form
  position absolute
  left 0
  width 100%
  background #fff
  height calc(100% - 35px)
  top 0
  bottom 0

.rc-log-sync-wrap
  position fixed
  bottom 0
  left 200px
  width 300px
  height 500px
  z-index 12000
  background #fff
  border-top 1px solid #eee
  border-radius 3px
  box-shadow 0px 0px 5px 1px rgb(0 0 0 / 18%)
  &.minimized
    height 35px
    .rc-log-sync-body
      display none
.rc-log-sync-title
  height 35px
  line-height 35px
  padding 0 10px
  border-bottom 1px solid #eee
.rc-log-sync-body
  height 465px
  position relative

