.rc-sms-divider
  margin 4px 0
.rc-sms-form
  display flex
  flexWrap nowrap
  padding 8
.rc-sms-add-btn
  flex none
  padding 8px
  display block
  cursor pointer
.rc-sms-input
  flex auto
.rc-del-sms
  float right
  margin 5px 5px 0 0
.rc-sms-wrap.rc-call-note-form
  width 30px
  &:hover
    width 200px
.rc-sms-select
  width 30px
  .ant-select-selection-placeholder
  .ant-select-selection-item
    opacity 0
  &:hover
    width 200px
    .ant-select-selection-placeholder
    .ant-select-selection-item
      opacity 1