.rc-sms-divider
  margin 4px 0
.rc-sms-form
  display flex
  flexWrap nowrap
  padding 8
.rc-sms-add-btn
  flex none
  padding 8px
  display block
  cursor pointer
.rc-sms-input
  flex auto
.rc-del-sms
  float right
  margin 5px 5px 0 0
.rc-sms-wrap.rc-call-note-form
  width 60px
  &:hover
    width 60%